@import 'tailwindcss';

:root {
    --background: #000000;
    /* Negro puro para evitar la franja */
    --foreground: #ededed;
}

html {
    background-color: #000000 !important;
    color-scheme: dark;
    /* Indica al navegador que el sitio es oscuro */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    /* Evita el scroll innecesario en la Mini App */
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
}